
@font-face {
    font-family: "flexslider-icon";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
}
.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus {
    outline: medium none;
}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    display: none;
}
.flexslider .slides img {
    display: block;
    width: 100%;
}
.flexslider .slides::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .flexslider .slides {
    display: block;
}
* html .flexslider .slides {
    height: 1%;
}
.no-js .flexslider .slides > li:first-child {
    display: block;
}
.flexslider {
    background: #ffffff none repeat scroll 0 0;
    border: 4px solid #ffffff;
    border-radius: 4px;
    margin: 0 0 60px;
    position: relative;
}
.flexslider .slides {
}
.flexslider .slides img {
    height: auto;
}
.flex-viewport {
    max-height: 2000px;
    transition: all 1s ease 0s;
}
.loading .flex-viewport {
    max-height: 300px;
}
.carousel li {
    margin-right: 5px;
}
.flex-direction-nav {
}
.flex-direction-nav a {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: block;
    height: 40px;
    margin: -20px 0 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
    z-index: 10;
}
.flex-direction-nav a::before {
    color: rgba(0, 0, 0, 0.8);
    content: "";
    display: inline-block;
    font-family: "flexslider-icon";
    font-size: 40px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next::before {
    content: "";
}
/*.flex-direction-nav .flex-prev {
    left: -50px;
}
.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
    left: 10px;
    opacity: 0.7;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
}*/
.flex-direction-nav .flex-disabled {
    cursor: default;
    opacity: 0 !important;
}
.flex-pauseplay a {
    bottom: 5px;
    color: #000;
    cursor: pointer;
    display: block;
    height: 20px;
    left: 10px;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    width: 20px;
    z-index: 10;
}
.flex-pauseplay a::before {
    content: "";
    display: inline-block;
    font-family: "flexslider-icon";
    font-size: 20px;
}
.flex-pauseplay a:hover {
    opacity: 1;
}
.flex-pauseplay a .flex-play::before {
    content: "";
}
.flex-control-nav {
    bottom: -40px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.flex-control-nav li {
    display: inline-block;
    margin: 0 6px;
}
.flex-control-paging li a {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 11px;
}
.flex-control-paging li a:hover {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}
.flex-control-paging li a.flex-active {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    overflow: hidden;
    position: static;
}
.flex-control-thumbs li {
    float: left;
    margin: 0;
    width: 25%;
}
.flex-control-thumbs img {
    cursor: pointer;
    display: block;
    height: auto;
    opacity: 0.7;
    transition: all 1s ease 0s;
    width: 100%;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    cursor: default;
    opacity: 1;
}
.flex-direction-nav .flex-prev {
    height: 51px;
    left: 0;
    margin: 0;
    opacity: 1;
    position: relative;
    width: 100%;
	outline:0;
}
.flex-direction-nav .flex-next {
    height: 50px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    right: 0;
    width: 100%;
}
@media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
    height: 51px;
    left: 0;
    margin: 0;
    opacity: 1;
    position: relative;
    width: 100%;
	outline:0;
}
.flex-direction-nav .flex-next {
    height: 50px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    right: 0;
    width: 100%;
}
}
@media screen and (min-width: 1279px)
{
	.team_fikka  .flex-direction-nav
	{
		display:none;
	}
}
.banner-slider .flex-control-nav {
    bottom: 13px;
    position: absolute;
    right: 11px;
	width:auto;
}
.banner-slider .flex-control-nav li {
    display: inline-block;
    margin: 0 8px;
}
.banner-slider .flex-control-paging li a.flex-active {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    cursor: default;
}
.banner-slider .flex-control-paging li a {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 18px;
    text-indent: -9999px;
    width: 18px;
}
.banner-slider .flex-direction-nav {
    display: none;
}