@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ValtechBaseLine.Model.Components.IForgotPasswordModel>
<div class="row">
    @if (Model != null)
    {
         @Model.EmailPlaceholderText
    }
</div>
