<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ValtechBaseLineEntities" connectionString="metadata=res://*/ValtechBaseLine.csdl|res://*/ValtechBaseLine.ssdl|res://*/ValtechBaseLine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.147.53;initial catalog=ValtechBaseLineSitecore;persist security info=True;user id=sa;password=welcome1@;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>