<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- Global Constants -->
  <add key="owin:AppStartup" value="ValtechBaseLine.Web.Startup,ValtechBaseLine.Web" />
  <add key ="FacebookAppId" value="806620869482524"/>
  <add key ="FacebookAppSecretKey" value="ee3473bb9882ee717b60129f8a4abae3"/>
  <add key ="GoogleAppClientId" value="881943896062-n99ra5imnrbcnbci2e3pp2lda4uafpu5.apps.googleusercontent.com"/>
  <add key ="GoogleAppSecretKey" value="FKoMBeh_a0ftcjDI4EhS228Z"/>
  <add key ="GoogleMapAPISecretKey" value="AIzaSyB9RYe0ecSMugQLA4l7mpe0tavv_vawNIo "/>
</appSettings>
