<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>  
      <customHandlers>
      <handler trigger="/-/speak/request/v1/wffm" handler="sitecore_wffm_speak_request.ashx" />
    </customHandlers>
 
    <!-- PIPELINES -->
    <pipelines>          
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Applications/WFFM" deep="true" category="wffm" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>
    </pipelines>
  </sitecore>
</configuration>
